body {
    background-color: #1d1b31;
}

#titreFilm {
    font-size: 64px;
    margin: 0;
    color: #fff;
}

p {
    color: #fff;
}

.posterFilmSection {
    padding: 2%;
    /* background-color: aqua; */
}

#posterFilm {
    border-radius: 2%;
}

.synopsisFilmSectionEnglobe {
    background-color: #11101d;
    border-radius: 16px 16px 16px 16px;
    display: flex;
    flex-direction: column;
}

.hautSynopsisFilmSection {
    display: flex;
}

.hautSynopsisFilmSection div {
    /* background-color: green; */
    width: 33%;
    align-items: center;
}

.hautSynopsisFilmSection div p {
    text-align: center;
}

.separationHautFilmSection {
    width: 95%;
    height: 2px;
    background-color: white;
    align-self: center;
    border-radius: 16px;
}

.noteSynopsisFilmSection {
    display: flex;
}

.noteSynopsisFilmSection div {
    /* background-color: lightgreen; */
    width: 49.5%;
    align-items: center;
}

.noteSynopsisFilmSection div p {
    text-align: center;
}

.sectionPrincipale {
    display: flex;
    background-color: #343158;
}

.synopsisFilmSection {
    padding: 2%;
    /* background-color: lightcoral; */
}

.detailFilmSection {
    padding: 2%;
    /* background-color: green; */
}

.detailFilmTable {
    width: 100%;
    border-collapse: collapse;
    color: #fff;
}

.titreFilmSection {
    /* background-color: aquamarine; */
    padding: 0 2% 0 2%;
}

.leftColoneTableau {
    width: 20%;
    /* background-color: blue; */
}

thead {
    /* background-color: chocolate; */
    padding: 2%;
}

td {
    /* background-color: violet; */
    padding-left: 2%;
    border: 2px solid white;
}

.paragrapheSynopsis {
    font-size: 17px;
}

.synoposisInformation {
    /* background-color: crimson; */
    margin-top: 2%;
    padding: 2%;
    width: 100%;
    background-color: #4a467e;
    border-radius: 16px;
}

.synoposisInformation p {
    font-size: 17px;
    padding-bottom: 2%;
}

.tableLigneClair {
    background-color: #343158;
}

@media all and (max-width: 920px) {
    .posterFilmSection {
      align-self: center;
    }
  
    #posterFilm {
      max-width: 100%;
    }
  
    #titreFilm {
      font-size: 32px;
    }
  
    .sectionPrincipale {
      flex-direction: column;
    }
  }
  
  @media all and (max-width: 360px) {
    #titreFilm {
      font-size: 24px;
    }
  
    .sectionPrincipale {
      flex-direction: column;
    }
  
    .noteSynopsisFilmSection {
      flex-direction: column;
    }
  
    .noteSynopsisFilmSection div {
      width: 100%;
      align-self: center;
    }
  
    .hautSynopsisFilmSection {
      flex-direction: column;
    }
  
    .hautSynopsisFilmSection div {
      width: 100%;
      align-self: center;
    }
  }
  